<!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto d-block">
                               
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item no-arrow">
                            <a class="nav-link" href="#" id="userDropdown" role="button">
                                <span class="mr-2 text-gray-600 small"><%= current_user.name if current_user.present? %></span>
                                <%= no_image_check(current_user, :small_avatar, "img-profile rounded-circle") %>
                                
                            </a>
                        </li>
                        </div>

                        <div class="nav" id="dropdownList">
                            <li class="nav-item no-arrow">
                                <a class="" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                            </li>
                            
                            <li class="nav-item no-arrow dropdownList">
                                <a class="" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                            </li>

                            <li class="nav-item no-arrow dropdownList">
                                <a class="" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                            </li>
                        </div>
                    </ul>

                </nav>
                <!-- End of Topbar -->