<!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto d-block">
                               
                        <div class="topbar-divider d-inline"></div>
                        
                        <!-- Nav Item - User Information -->
                        <div class="d-inline">
                            <li class="d-inline" >
                                <button onclick="myFunction()" class="d-inline btn btn-transparent dropbtn">
                                    <span class="mr-2 text-gray-600 small d-inline" ><%= current_user.name if current_user.present? %></span>
                                    <%= no_image_check(current_user, :cart_avatar, "img-profile rounded-circle") %>
                                </button>
                            </li>

                            <div class="dropdown-content" id="userDropdown">
                                <li class="nav-item no-arrow  dropdownList">
                                    <%= link_to admin_edit_password_path, method: :delete do %><i class="fas bi-key fa-sm fa-fw mr-2 text-gray-400"></i><span> Alterar Senha</span>
                                    <% end %>
                                </li>
                                
                                <li class="nav-item no-arrow dropdownList">
                                     <%= link_to destroy_user_session_path, method: :delete do %><i class="fas bi-x-square fa-sm fa-fw mr-2 text-gray-400"></i><span> Sair</span>
                                    <% end %>
                                </li>
                            </div>
                        </div>
                    </ul>


                </nav>
                <!-- End of Topbar -->