<div class="container mt-4">
  <h1 class="text-center">Dados do produto</h1>

    <div class="row mt-2">
        <div class="col-lg-2 mt-4">
            <%= render 'menu' %>
        </div>

        <div class="col-lg-9">    
            <%= render 'product', product: @product %>
        </div>
    </div>
    </div>

</div>