default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  username: postgres
  password: postgres
  pool: 5

development:
  <<: *default
  database: e-comm_development


test:
  <<: *default
  database: e-comm_test

production:
  <<: *default
  database: e-comm_production