<div class="container">
    <div class="col-lg-10 offset-lg-1 justify-content-center">
        <div class="row">
            <h1 class="text-center mt-4">Editar Endereço</h1>
        </div>
        <div class="row">
            <table class="table mt-4">
                
            <%= render "form", address: @address %>

            </table>

        </div>
            <%= link_to "Voltar", addresses_path, class: "btn btn-secondary" %>
    </div>
</div>