<h1>Novo Produto</h1>

<div class="row">

  <div class="col-lg-12">

    <div class="card shadow mb-4">

      <div class="card-body">
        
        <%= render "form", product: @product, categories: @categories %>
      
      </div>

    </div>

  </div>
  
</div>

<div class="row">
  <div class="col-lg-1">
    <%= link_to "Voltar", admin_products_path, class: "btn btn-secondary ml-4" %>
  </div>
</div>

<br>


