<%= turbo_frame_tag :bootstrap_modal, target: :_top do %>
  <div class="modal fade" data-controller="modal" data-bs-keyboard="false" tabindex="-1" >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Categoria</h5>
          <button 
            type="button" 
              class="btn-close" 
                data-bs-dismiss="modal" 
                aria-label="Close"
                style="background: none, border: none;"
                onclick="closeModal()">X</button>
        </div>
        <div class="modal-body">
          <%= render "admin/categories/form", category: @category %>
        </div>
      </div>
    </div>
  </div>

  <script>
     function closeModal() {
      // Recarrega a página ao fechar a modal
      window.location.reload();
    }
  </script>
<% end %>