<h1>Nova  categoria</h1>

<div class="row">

  <div class="col-lg-12">

    <div class="card shadow mb-4">

      <div class="card-body">
        
        <%= render "form", category: @category %>
      
      </div>

    </div>

  </div>
  
</div>

<br>

<div class="row">
  <div class="col-lg-1">
    <%= link_to "Voltar", admin_categories_path, class: "btn btn-secondary ml-4" %>
  </div>
</div>
